*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightblue;
}
.header{
    width: 100%;
    padding: 10px 30px;
    background-color: rgb(86, 174, 228) ;
}
.header h3{
    font-weight: bold;
    font-family: Verdana;
    font-size: 28px;
    color: #fff;
}
/* uper-btn */
.uper-btn{
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
}
.uper-btn .left-box{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}
.uper-btn .left-box input[type="checkbox"]{
    width: 30px;
    height: 30px;  
    cursor: pointer;
    /* border-radius: 10px; */
}
.uper-btn .left-box button{
    border: none;
    outline: none;
    background-color:rgb(86, 174, 228) ;
    padding: 13px;
    font-size: 18px;
    font-family: vardana;
    color: #fff;
    margin: 0px 10px;
    cursor: pointer;
    border-radius: 10px;
}
.uper-btn .right-box{
    width: 50%;
    height: 100%; 

} 
.uper-btn .right-box i {
    font-size: 25px;
    color: rgb(56, 144, 199) ;
    padding: 10px;
}
.uper-btn .right-box input{
    width: 70%;
    padding: 13px;
    outline: none;
    border: none;
    border-bottom: 3px solid rgb(86, 174, 228) ;
    font-size: 18px;
    font-family: vardana;
    border-radius: 10px;
    /* font-weight: bold; */
}
.uper-btn .right-box button{
    border: none;
    outline: none;
    background-color:rgb(86, 174, 228) ;
    padding: 13px;
    font-size: 18px;
    font-family: vardana;
    color: #fff;
    margin: 0px 10px;
    cursor: pointer;
    border-radius: 10px;

}
/* table code */

.table-box{
    width: 80%;
    padding: 30px;
    background-color: white;
    margin-left: 120px;
    border-radius: 15px;
    /* height: 400px; */
    border-bottom: 5px solid rgb(86, 174, 228) ;
    border-right: 3px solid rgb(86, 174, 228);
}
.table-box table{
    width: 100%;
    /* border: 1px solid #ccc; */
}
.table-box table tr th{
    border-right: 1px solid #ccc;
    padding: 20px 0px 0px;
    font-family: vardana;
    border-bottom: solid 1px #ccc;
}
.table-box table tr td{
    border-right: 1px solid #ccc; 
    padding: 10px 0px 5px;
    font-family: vardana;
    text-align: center;
    border-bottom: solid 1px #ccc;
}
.table-box table tr td button{
    border: none;
    width: 30%;
    outline: none;
    background-color:rgb(86, 174, 228);
    font-size: 18px;
    font-family: vardana;
    color: #fff;
    margin: 0px 10px;
    padding: 5px; 
}

/* start model coding */

.model{
    width: 0%;
    height: 500px;
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    border-top: 20px groove #4286f5;
    opacity: 0;
    z-index: -1;
    transition: 0.5s ease-in-out;
}
.model.active{
    opacity: 1;
    z-index: 1;
    width: 60%;
}
.close-icon{
     position: absolute;
     right: -25px;
     top: -58px;
     font-size: 30px;
     padding: 10px;
     color: #ee534f;
}
.model .left-model{
    width: 30%;
    height: 100%;
    background-color: #f2f2f2;
}
.model .left-model .img-box{
    width: 100%;
    height: 300px;
    
    display: flex;
    padding: 30px;
    position: relative;
}
.model .left-model .img-box input{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 40px;
    top : 80px;
    opacity: 0;

}
.model .left-model .img-box img{
    border-radius: 10px;
}
.model .left-model .img-box i{
    font-size: 30px;
    padding: 10px;
    position: absolute;
    right: 40px;
    top : 80px;
    color:aqua;
 }
.model .right-model{
    width: 70%;
    height: auto;
    border-left: groove 5px #4286f5;
    background-color: #f2f2f2;
    padding: 30px;

}
.model .right-model .input-box{
    width: 100%;
    display: flex;  
    justify-content : space-between ;
} 
.model .right-model .input-box label{
    font-size: 22px;
    font-weight: bold;
    font-family: sans-serif;
    margin: 20px 0px;
}
.model .right-model .input-box input{
    width: 70%;
    margin: 10px 0px;
    border: none;
    padding: 13px;
    outline: none;
    border-bottom: 3px solid #4286f5;
    background-color: transparent;
    font-size: 18px ;
}
.model .right-model .input-box button{
    border: none;
    width: 48%; 
    outline: none;
    background-color:rgb(86, 174, 228);
    padding: 13px;
    font-size: 18px;
    font-family: vardana;
    color: #fff;
    margin: 10px 10px;
 
}
.model .right-model .input-box button:disabled{
    filter: grayscale(70%);
}